$title-color: rgb(106, 150, 216);
$light-color: #f4f4f4;
$left-color: rgb(230, 237, 246);
$right-color: rgb(242, 242, 242);
$block-color: rgb(255, 194, 193);
$line-color: rgb(200, 210, 213);
$x-color: rgb(195, 212, 241);
$p-color: rgb(204, 214, 225);

